* {
	box-sizing: border-box;
	text-decoration: none;
	font-size: 100%;
}

.heading-title {
	margin-bottom: 15px;
	text-align: center;
	font-size: 175%;

}

.section-title {
	text-align: right;
	border: 1px solid black;
	margin: 0px 0px 20px  0px;
	float: right;
	padding: 2px 25px;
	position: relative;
	font-size: 125%;
}

.title1 {
	background-color: #ff8080;
}

.title2 {
	background-color: #ffb3ff;
}

.title3 {
	background-color: #b3b3ff;
}

.section {
	clear: right;
}

.row {
	width: 100%
}

.col {
	border: 1px solid black;
	background-color: #e0e0d1;
	overflow: hidden;
	padding: 10px;
}

@media (min-width: 992px) {
	.col-lg-3 {
		float: left;
		width: 33%;
		padding: 15px;
	}
}

@media (min-width: 772px) and (max-width: 991px) {
	.col-md-2, .col-md-1 {
		float: left;
		padding: 15px;
	}
	.col-md-2 {
		width: 50%
	}	
	.col-md-1 {
		width: 100%
	}
}

@media (max-width: 771px) {
	.col-sm-1 {
		float: left;
		width: 100%;
		padding: 15px;
	}
}


